/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
@font-face {
    font-family: SpoqaHanSansNeo-Regular;
    src: url("@/assets/fonts/SpoqaHanSansNeo-Regular.ttf");
  }
  
  body {
    font-family: SpoqaHanSansNeo-Regular;
  }